<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/landing.css">
    <title>Haven</title>
  </head>
  <body>
    <div class="">
      <div class="">
        <ul id="menu">
            <a href="#"><li>Home</li></a>
            <a href="#"><li>Sobre o Haven</li></a>
            <a href="#"><li>Entrar</li></a>
            <a href="#"><li>Registre-se</li></a>
        </ul>
        
      </div>
    </div>
    <div class="container">
      <h1 class="">O que é o Projeto Haven?</h1>
      <br />
      <p>
        Haven é uma iniciativa de 5 pessoas do instituto iCEV. A plataforma visa
        proporcionar um refúgio seguro onde a identidade de gênero de cada
        indivíduo é respeitada, ao oferecer um espaço onde os membros da
        comunidade LGBTQIA+ podem se conectar, compartilhar vivências e
        trocar experiências. Haven(do inglês “refúgio”), uma plataforma de
        microblogging em construção, que traz como objetivo principal um
        ambiente personalizável destinado a unir a comunidade transgênero
        brasileira e oferecer um espaço seguro para a troca de informações e
        experiências.
      </p>
      <br />
      <h1>Como posso ajudar?</h1>
      <p>Você pode colaborar ao se tornar um moderador/a do site. </p>
    </div>
  </body>
</html>
