body {
    background-color: #8ea7e9;
    margin: 0%;
    padding: 0%;
    margin-top: -20px;
}

#menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 40px;
    background-color: #7286d3;
    box-shadow: 1px 1px 5px black;
}
ul{
    list-style-type: none;
}

#h {
    position: relative;
    

}
#r {
    position: relative;
    right: 150%;
}
#s {
    position: relative;
    right: 50%;

}
#e {
    position: relative;
    right: 100%;
}

a {
    padding-top: 10px;
    color: black;
    font-size: 10px;
    text-align: center;
    font-size: 20px;
    width: 100px;
    top: 10px;
    transition: 0.3s;
}

a:hover {
    color: #5B0888;
}

p {
    color: black;
}

h1{
    text-align: center;
}