<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
</head>
<body class="bg-slate-600 text-zinc-200 flex flex-col justify-center items-center h-screen font-bold">
    <h1 class="flex my-5 text-6xl fixed top-0 left-1/2 transform -translate-x-1/2">Haven</h1>
    <h1 class="text-3xl ">Registre-se</h1>
    <form class="">
        <input class="my-2 rounded-md h-10 text-center text-gray-500" type="text" placeholder="username">
        <br>
        <input class="my-2 rounded-md h-10 text-center text-gray-500" type="email" placeholder="email">
        <br>
        <input class=" my-2 rounded-md h-10 text-center border-transparent text-gray-500" type="password" placeholder="senha" >
        <br>
        
        <button hx-post="/api/login" hx-swap="outerHTML" type="submit"
        class="w-20 h-8 my-3 mx-16 content-center bg-slate-800 rounded-md"
        >Entrar</button>
    </form>
</body>
</html>