<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Haven</title>
  </head>
  <body class="my-16 bg-slate-600 text-zinc-200">

    <div class="container">
      <br />
      <h1 class="text-5xl">O que é o Projeto Haven?</h1>
      <br />
      <p>
        Haven é uma iniciativa de 5 estudantes do instituto iCEV. A plataforma
        visa proporcionar um refúgio seguro onde a identidade de gênero de cada
        indivíduo é respeitada, ao oferecer um espaço onde os membros da
        comunidade LGBTQIA+ podem se conectar, compartilhar vivências e trocar
        experiências. Haven(do inglês “refúgio”), uma plataforma de
        microblogging em construção, que traz como objetivo principal um
        ambiente personalizável destinado a unir a comunidade transgênero
        brasileira e oferecer um espaço seguro para a troca de informações e
        experiências.
      </p>
      <br />
      <h1 class="text-5xl">Como posso ajudar?</h1>
      <br />
      <p>
        Você pode colaborar ao se tornar um moderador/a do site, ao responder os
        questionários que iremos realizar periodicamente, ou simplesmente ao
        usar a plataforma para difundir informação de qualidade. Se você tiver habilidades de tecnologia, você pode nos ajudar 
        com o desenvolvimento do projeto <a href="https://github.com/rodriguesarrais/projeto-haven" class="text-blue-500">neste repositório.</a>
      </p>
    </div>
  </body>
</html>
